html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

h1, p {
    color: ghostwhite;
}

canvas {
    background-color: darkgray;
    width: 100%;
    height: 100;
}

#container {
    max-width: 50em;
    background-color: darkred;
    margin: 0 auto;
    padding: 1em;
    display: grid; 
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-center top-right"
                         "game game game"
                         "btm btm btm"
}

#top-left, #top-center, #top-right, #btm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

#top-left {
    grid-area: top-left;
}

#top-center {
    grid-area: top-center;
}

#top-right {
    grid-area: top-right;
}

#btm {
    grid-area: btm;
}

main {
    grid-area: game;
}

