html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

canvas {
    background-color: darkgray;
    width: 100%;
    height: 100;
}

#container {
    max-width: 50em;
    background-color: darkred;
    margin: 0 auto;
    padding: 1em;
    display: grid; 
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-left top-right"
                         "game game game"
                         "btm btm btm"
}

#top-left, #top-right, #btm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

