 html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(165, 165, 165);
}

h1, p {
    color: #800020;
}


